@using Deadit.Lib.Domain.Constants
@using Deadit.Lib.Domain.Enum
@using Deadit.Lib.Domain.TableView
@using Deadit.Lib.Domain.ViewModel
@using Deadit.Lib.Utility

@model CommunitySettingsLayoutModel<GeneralCommunitySettingsPageModel>

@{
    Layout = $"~/{GuiPageViewFiles.CommunitySettingsLayout}";
}

@functions{
    
    public void GetCommunityTypeInput(ViewCommunity community, CommunityType communityType)
    {

        var typeName = communityType.GetName();
        var id = $"community-type-{typeName.ToLower()}";

        var isChecked = community.CommunityType == communityType;
        var checkedText = isChecked ? "checked" : string.Empty;

        <div class="form-check">
            <input type="radio" class="form-check-input" id="@id" name="community-type-input" value="@typeName" @checkedText>
            <label class="form-check-label" for="@id">@communityType.GetDisplay()</label>
            <div class="invalid-feedback"></div>
        </div>
    }

    public void GetTextPostContentRadio(ViewCommunity community, TextPostBodyRule rule)
    {
        var id = $"text-post-content-{rule.GetName().ToLower()}";
        var checkedText = community.CommunityTextPostBodyRule == rule ? "checked" : string.Empty;

        var name = rule == TextPostBodyRule.NotAllowed ? "Not Allowed" : rule.GetName();

        <div class="form-check">
            <input type="radio" class="form-check-input" id="@id" name="text-post-content-input" value="@rule.GetName()" @checkedText />
            <label class="form-check-label" for="@id">@rule.GetDisplay()</label>
            <div class="invalid-feedback"></div>
        </div>
    }

    public void GetFlairPostRuleRadio(ViewCommunity community, FlairPostRule rule)
    {
        var id = $"flair-post-rule-input-{rule.GetName().ToLower()}";
        var checkedText = community.CommunityFlairPostRule == rule ? "checked" : string.Empty;

        <div class="form-check">
            <input type="radio" class="form-check-input" id="@id" name="flair-post-rule-input" value="@rule.GetName()" @checkedText />
            <label class="form-check-label" for="@id">@rule.GetDropdownDisplay()</label>
            <div class="invalid-feedback"></div>
        </div>
    }


    public void GetSectionTitle(string title)
    {
        <h5 class="community-settings-container-title">@title</h5>
        <hr class="mt-1 mb-0" />
    }


}


@section Body {
    
    <div class="container">
        <h1>General Settings</h1>
    </div>


    <div class="community-settings-form-container">

        <form class="community-settings-form">

            <div class="container community-settings-container mb-0">
                <div class="form-feedback"></div>
            </div>
            
            <fieldset>

                <div class="container community-settings-container mt-0">
                    @{ GetSectionTitle("Community Profile"); }

                    
                    @* Title *@
                    <div class="input-feedback mt-3">
                        <label class="form-label-container">
                            <div class="form-label">Title</div>
                            <input type="text" class="form-control input-feedback-input" name="title" required maxlength="@CommunityConstants.MaxTitleLength" value="@Model.Community.CommunityTitle" />
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback"></div>
                        </label>
                    </div>

                    @* Description *@
                    <div class="input-feedback mt-3">
                        <label class="form-label-container">
                            <div class="form-label">Description</div>
                            <textarea class="form-control input-feedback-input" name="description" rows="8" maxlength="@CommunityConstants.MaxDescriptionLength">@Model.Community.CommunityDescription</textarea>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback"></div>
                        </label>
                    </div>


                </div>


                <div class="container community-settings-container">
                    @{ GetSectionTitle("Community Type"); }

                    @* Community Type *@
                    <div class="radio-group community-type-input-radios mt-3" data-radio-group-name="community-type-input">
                        <p class="mb-0">Type of Community</p>

                        @{
                            GetCommunityTypeInput(Model.Community, CommunityType.Private);
                            GetCommunityTypeInput(Model.Community, CommunityType.Public);
                        }

                    </div>

                </div>

                <div class="container community-settings-container">

                    @{
                        GetSectionTitle("Community Membership");
                    }

                    @* Accepting new members *@
                    <div class="form-check mt-3">
                        @{
                            var membershipChecked = Model.Community.CommunityAcceptingNewMembers ? "checked" : string.Empty;
                        }

                        <input type="checkbox" class="form-check-input" id="community-settings-form-membership-checkbox" @membershipChecked>
                        <label class="form-check-label" for="community-settings-form-membership-checkbox">Accepting new members</label>
                        <div class="invalid-feedback"></div>
                    </div>

                </div>



                <div class="container community-settings-container">
                    @{
                        GetSectionTitle("Post Requirements");
                    }


                    @* Text post content rule *@
                    <div class="radio-group text-post-content-input-radios mt-3" data-radio-group-name="text-post-content-input">
                        <p class="mb-0">Text Post Content:</p>

                        @{
                            GetTextPostContentRadio(Model.Community, TextPostBodyRule.Optional);
                            GetTextPostContentRadio(Model.Community, TextPostBodyRule.Required);
                            GetTextPostContentRadio(Model.Community, TextPostBodyRule.NotAllowed);
                        }
                    </div>


                    <div class="radio-group flair-post-rule-input-radios mt-3" data-radio-group-name="flair-post-rule-input">
                        <p class="mb-0">Post flair is:</p>

                        @{
                            GetFlairPostRuleRadio(Model.Community, FlairPostRule.Optional);
                            GetFlairPostRuleRadio(Model.Community, FlairPostRule.Required);
                            GetFlairPostRuleRadio(Model.Community, FlairPostRule.NotAllowed);
                        }
                    </div>



                </div>


                <div class="container community-settings-container mt-3">
                    @* Submit buttom *@
                    <div class="d-flex">
                        <button type="submit" class="btn btn-success btn-submit">Save changes</button>
                    </div>
                </div>

            </fieldset>
        </form>


    </div>



}



@section Footer {
    <script src="~/js/dist/community-settings-general.bundle.js"></script>
}