@model Deadit.Lib.Domain.ViewModel.CommunityPageViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http.Extensions;


@{
    var requestPath = HttpContextAccessor?.HttpContext?.Request.Path.ToString();
    var absoluteUrl = HttpContextAccessor?.HttpContext?.Request.GetEncodedUrl();
    var normalPath = $"/{Model.Community.CommunityUrlGui}/submit";
    var loginUrl = $"/auth/login?destination={absoluteUrl}";

    var settingsUrl = $"{requestPath}/settings";
}

<div class="card card-body">
    @* Description *@
    <h6>About community</h6>
    <p>@Model.Community.CommunityDescription</p>

    @* Community stats *@
    <hr />
    <p class="mb-0">@Model.Community.CommunityCountMembers members</p>

    @* Action buttons *@
    <hr />

    @{
        @* Not logged in *@
        if (!Model.IsLoggedIn)
        {
            <a href="@loginUrl" class="btn btn-sm btn-standard mb-1">Log in to join</a>
        }

        else
        {
            @if (Model.IsMember || Model.IsModerator)
            {
                <a href="@normalPath" class="btn btn-sm btn-standard mb-1">Create Post</a>
            }

            @* Not a member, but community membership is closed *@
            if (!Model.IsMember)
            {
                if (!Model.Community.CommunityAcceptingNewMembers)
                {
                    <button type="button" class="btn btn-sm btn-standard mb-1" data-bs-toggle="modal" data-bs-target="#modal-not-accepting-new-members">Join</button>

                    <!-- Modal -->
                    <div class="modal" tabindex="-1" id="modal-not-accepting-new-members">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Community Closed</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    This community is currently not accepting new members. Please try again later.
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Not a member, and community membership is open *@
                else if (!Model.IsModerator)
                {
                    <button type="button" class="btn btn-sm btn-standard mb-1 btn-toggle-membership">Join</button>
                }
            }

            else if (Model.IsMember)
            {
                <button type="button" class="btn btn-sm btn-standard mb-1 btn-toggle-membership" data-js-is-member>Leave</button>
            }
        }

    }


    

    @if(Model.IsModerator)
    {
        <hr />
        <a href="@settingsUrl" class="btn btn-sm btn-standard">Settings</a>
    }


</div>



